In [173]:
import requests
import pandas as pd
import numpy as np

In [182]:
import requests
import pandas as pd

class ScriptData:
    def __init__(self, api_key):
        self.api_key = api_key
        self.data = {}

    def fetch_intraday_data(self, script):
        url = f"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={script}&interval=5min&apikey={self.api_key}"
        response = requests.get(url)
        self.data[script] = response.json()

    def convert_intraday_data(self, script):
        intraday_data = self.data[script]["Time Series (5min)"]
        df = pd.DataFrame.from_dict(intraday_data, orient='index', dtype=float)
        df.index = pd.to_datetime(df.index)
        df = df.rename(columns={'timestamp':'timestamp','1. open': 'open', '2. high': 'high', '3. low': 'low', '4. close': 'close', '5. volume': 'volume'})
        df[['open', 'high', 'low', 'close']] = df[['open', 'high', 'low', 'close']].astype(float)
        df['volume'] = df['volume'].astype(int)
        self.data[script] = df

    def __getitem__(self, script):
        return self.data[script]

    def __setitem__(self, script, value):
        self.data[script] = value

    def __contains__(self, script):
        return script in self.data

In [183]:
script_data = ScriptData(api_key="OGTF580T4DSDBWKT")

In [184]:
script_data.fetch_intraday_data('GOOGL')
script_data.convert_intraday_data('GOOGL')
script_data['GOOGL']

                       open     high      low    close   volume
2023-02-10 20:00:00  94.590  94.6900  94.5800  94.6900     3426
2023-02-10 19:55:00  94.600  94.6200  94.6000  94.6000     3043
2023-02-10 19:50:00  94.590  94.6900  94.5900  94.6000     2719
2023-02-10 19:45:00  94.570  94.6800  94.5700  94.6300     4798
2023-02-10 19:40:00  94.580  94.6300  94.5700  94.5700     5282
...                     ...      ...      ...      ...      ...
2023-02-10 12:05:00  94.600  94.6513  94.2800  94.3785  1227425
2023-02-10 12:00:00  94.960  94.9600  94.5800  94.6050   704617
2023-02-10 11:55:00  95.055  95.1000  94.9050  94.9600   355965
2023-02-10 11:50:00  94.990  95.0900  94.9600  95.0550   401343
2023-02-10 11:45:00  94.750  95.0100  94.6801  94.9900   420095

[100 rows x 5 columns]

In [185]:
import pandas as pd

def indicator1(df, timeperiod):
    df['indicator'] = df['close'].rolling(window=timeperiod).mean()
    return df[['indicator']]

In [186]:
indicator1(script_data['GOOGL'], timeperiod=5)

                     indicator
2023-02-10 20:00:00        NaN
2023-02-10 19:55:00        NaN
2023-02-10 19:50:00        NaN
2023-02-10 19:45:00        NaN
2023-02-10 19:40:00    94.6180
...                        ...
2023-02-10 12:05:00    94.4366
2023-02-10 12:00:00    94.4466
2023-02-10 11:55:00    94.5326
2023-02-10 11:50:00    94.6576
2023-02-10 11:45:00    94.7977

[100 rows x 1 columns]

In [215]:
class Strategy:
    def __init__(self, script, script_data, timeperiod):
        self.script = script
        self.script_data = script_data
        self.timeperiod = timeperiod
        self.df = script_data[script]
        self.signals = None

    def generate_signals(self):
        if 'close' not in self.df.columns:
            raise KeyError(f"'close' column not found in data for script '{self.script}'")

        close_data = self.df['close']
        indicator_data = indicator1(self.df, self.timeperiod)
        signals = []
        for i in range(1, len(close_data)):
            if ((indicator_data['indicator'].shift(1) > close_data) & (indicator_data['indicator'] >= close_data)).any():
                signals.append(('BUY', indicator_data.index[i]))
            elif ((indicator_data['indicator'].shift(1) > close_data) & (indicator_data['indicator'] <= close_data)).any():
                signals.append(('SELL', indicator_data.index[i]))

        self.signals = pd.DataFrame(signals, columns=['signal', 'timestamp'])
        
    def print_signals(self):
        if self.signals is None:
            self.generate_signals()

        print(self.signals[self.signals['signal'] != 'NO_SIGNAL'])

In [216]:
script_data = ScriptData("OGTF580T4DSDBWKT")
script_data.fetch_intraday_data("AAPL")
script_data.convert_intraday_data("AAPL")

strategy = Strategy("AAPL", script_data, 20)
strategy.print_signals()

   signal           timestamp
0     BUY 2023-02-10 19:55:00
1     BUY 2023-02-10 19:50:00
2     BUY 2023-02-10 19:45:00
3     BUY 2023-02-10 19:40:00
4     BUY 2023-02-10 19:35:00
..    ...                 ...
94    BUY 2023-02-10 11:50:00
95    BUY 2023-02-10 11:45:00
96    BUY 2023-02-10 11:40:00
97    BUY 2023-02-10 11:35:00
98    BUY 2023-02-10 11:30:00

[99 rows x 2 columns]